<!DOCTYPE html>
<head>
    <title>Tabel Situs Dan Cagar Di lestarikan</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<div class="container"> 
<form>
  <table class="table table-bordered">
  <thead align="center">
    <tr>
      <th scope="col">NO</th>
      <th scope="col">LOKASI OBYEK</th>
      <th scope="col">SITUS DAN CAGAR BUDAYA</th>
      <th scope="col">JUMLAH</th>
      <th scope="col">KETERANGAN</th>
    </tr>
  </thead>
  <tbody align="center">
    <tr>
      <th rowspan="15">1</th>
      <td rowspan="15">KEC. PASARWAJO</td>
      <td>Benteng Takimpo Lipuogena</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Makam Maiyaro</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Kabawakole </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng kondowa</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Tulisan Doa kalimat syahadat</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Tulisan adam dan hawa</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Waiyaro</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Kambula Mbulana</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Wagumangga</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Kondowa</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng kahulungaya</td>
      <td></td>
      <td></td> 
    </tr>
    <tr>
      <td>Benteng Kabawakole </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Labale</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Tombuku Pocumbu</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Makam Raja Wabula</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th rowspan="15">2</th>
      <td rowspan="15">KEC. KAPONTORI</td>
      <td>Benteng maa Inggi</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng La Bale </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Lakambelubelu </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng sangia Sintara </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng kamelongo</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Makam Raja Mulae </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Makam Foobula </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Makam Wasitehota</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Rumah Tua Waondo Wolio </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Watumotobe</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Makam Dungku Cangia</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng lakambelu Mbelu</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng sangia siantara</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Manu Saeko</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Makam Maa Baaria</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th rowspan="19">3</th>
      <td rowspan="19">KEC. LASALIMU</td>
      <td>Benteng Suai </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Kamaru</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Lawalangke</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Wasalabose</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Togumotonu </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng watoletogo </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Wakorouma </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng watole</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Lasalimu</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng sangia Kopea</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Hondulu </td>
      <td></td>
      <td></td> 
    </tr>
    <tr>
      <td>Benteng Wa Ode Kontu</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Kaubangka </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Togo Mangura</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Bendera Merah Putih</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Meja Batu</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Bangunan Megalitik</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Punden Berundak</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td> Goa Langalu</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th rowspan="10">4</th>
      <td rowspan="10">KEC. LASALIMU  SELATAN</td>
      <td>Benteng Ambuau</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng kondulu </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng batukamboi </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng togobokea</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng kopea</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng labuke </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Baruga Batu </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Makam Syach Salim</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Makam Wauwa Matoulea</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>BentengTogo</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th rowspan="16">5</th>
      <td rowspan="16">KEC. SIONTAPINA </td>
      <td>Benteng Siontapina</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng sinoya </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Kambangku</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng kusambi</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Wakialampa </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Togobesi</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Sultan Lakarambau Oputa Yiko</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Wampau</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng wongko</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Makan Sultan Lakarambau Oputa Yikoo</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Makam Sultan La Umati</td>
      <td></td>
      <td></td> 
    </tr>
    <tr>
      <td>Makam Sultan La Balawo</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Peningglana Kuni batu, Tapak kaki, Sendok </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Itik, Kuda, Sangkar</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Makam Labuke</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Jejak telapak kaki</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th rowspan="6">6</th>
      <td rowspan="6">KEC. WOLOWA</td>
      <td>Benteng dan Makam Saiidina Gunu / Yarona  Wolowa</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng kantolobea</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Watawia</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Wangkaole ole</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Matawia</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Wakalauma</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th rowspan="20">7</th>
      <td rowspan="20">KEC. WABULA </td>
      <td>Benteng wabula </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng wasuemba </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Makam Kumaha</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Makam Lakancuna</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Perahu Kuno / Wakambeebunga</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Kumaha</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Koncu Wabula</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng wampua</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Wasalampe</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Koncu takimpo</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Liwu Wabula</td>
      <td></td>
      <td></td> 
    </tr>
    <tr>
      <td>Benteng Ama Badua</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Makam Raja Wakaakaa</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Prasasti Wacu Koburi</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Bedil / senjata Tradisional</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Wacu Katoru</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Makam Lakapoho</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Makam Wabula Bula</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Lakongkomoli</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Benteng Wainda Wulu</td>
      <td></td>
      <td></td>
    </tr>
    <tr align="center">
      <th colspan="2">JUMLAH</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  </table>
</form>
</div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>