<!DOCTYPE html>
<head>
    <title>Tabel Klarifikasi Dokter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<div class="container"> 
<form>
  <table class="table table-bordered">
  <thead align="center">
    <tr>
      <th scope="col">NOMOR</th>
      <th scope="col">UNIT KERJA</th>
      <th scope="col">KECAMATAN</th>
      <th scope="col">DOKTER SPESIALIS</th>
      <th scope="col">DOKTER GIGI</th>
      <th scope="col">DOKTER UMUM</th>
      <th scope="col">DOKTER ANAK</th>
    </tr>
  </thead>
  <tbody align="center">
    <tr>
      <th scope="row">1</th>
      <td>RUMAH SAKIT</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr >
      <th scope="row">2</th>
      <td>PUSKESMAS</td>
      <td>LASALIMU</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>    
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td>LASALIMU SELATAN</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td>SIONTAPINA</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td>PASARWAJO</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td>WOLOWA</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td>WABULA</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td>KAPONTORI</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr align="center">
      <th colspan="2">JUMLAH</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  </table>
</form>
</div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>